# for framework
streamlit 
# all data manipulation
pandas 
# plotting & visualization
matplotlib 
seaborn 
# matching ( song name/artist matching )
fuzzywuzzy 
rapidfuzz 
# utilities if needed for clustering
scikit-learn 
