# for framework
streamlit 
# all data manipulation
pandas==2.2.2
# plotting & visualization
matplotlib 
seaborn 
# matching ( song name/artist matching )
fuzzywuzzy 
rapidfuzz==3.6.1
# utilities if needed for clustering
scikit-learn 
